.admin-body {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
 }

.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  width: 95%;
 }

.td-admins-user{
  padding : 2px 4px;
  color:rgb(0, 0, 0);
  background-color: #f0f0f0;
  font-size: 14px;
  font-weight: 500;
  word-break : break-all;
}

.th-admins-user{
  padding : 2px 4px;
  color:rgb(0, 0, 0);
  background-color: #d8d8d8;
  font-size: 14px;
  font-weight: 500;
  word-break : break-all;
}

.width-userid{
  width: 30px;
}

.width-name{
  width: 70px;
}

.width-email{
  width: calc(100% - 290px);
}

.width-gender{
  width: 45px;
}

.width-birthday{
  width: 45px;
}

.width-type{
  width: 40px;
}

.width-update{
  width: 30px;
}

.width-destroy{
  width: 30px;
}

.admin-user-button-text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
}

.admin-user-button {
  padding: 2px 5px;
  align-items: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.admin-user-background-orange {
  background: #FF8A00;
}

.admin-destroy-button-text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
}

.admin-destroy-button {
  padding: 6px 5px;
  align-items: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.admin-destroy-background-blue {
  background: #3566e5;
}
