/* ===================== index ===================== */
.gp-index-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;          /* 100vh:高さ方向全画面 50vh:高さ方向中央 */
  min-height: 100vh;     /* 100vh:幅方向全画面 */
  width: 100%;
  margin-bottom: 50px;       
}

.gp-index-item-container {
  display: flex;
  align-items: center;
  width: 95%;
  max-width: 1000px;
  height: auto;
  padding: 0px 10px 0px 10px;
  gap: 10px;
  text-decoration: none;
}

.gp-index-item-container:hover{
  background-color: #f1f0f0;
}

.gp-index-image-container {
  position: relative;  /*相対配置*/
  width: 110px;
  height: 110px;
}

.gp-index-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.gp-index-image-recruitment_number {
  position: absolute;   /*絶対配置*/
  bottom: 5px;
  right: 5px;
  max-width:190px;
  height: auto;
  padding : 2px 4px;
  background: #ff4e4ef2;
  color: #ffffff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  z-index: 2;
}

.gp-index-image-booking_number {
  position: absolute;   /*絶対配置*/
  bottom: 5px;
  right: 5px;
  max-width:190px;
  height: auto;
  padding : 2px 4px;
  background: #002efdf2;
  color: #ffffff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  z-index: 2;
}

.gp-index-item-image-remaining_days {
  position: absolute;   /*絶対配置*/
  bottom: -22px;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width:120px;
  height: auto;
  font-size: 12px;
  font-weight: 600;
  color: #002ffff2;
  white-space: nowrap;
}

.gp-index-item-list-container{
  display: flex;
  flex-direction: column;
  width: calc(100% - 125px);
  height: auto;
  padding: 10px;
  gap: 4px;
  overflow: hidden;        /* はみ出した部分を隠す */
  text-overflow: ellipsis; /* はみ出した部分を省略記号で表示 */
  white-space: nowrap;
}

.gp-flex-container{
  display: flex;
  align-items: center;
}

.gp-line {
  width: calc(95% + 20px);
  max-width: 1020px;
  border: 0.8px solid #bebebe;
}

.gp-text-red {
  color: #ff2d2d;
  overflow: hidden;        /* はみ出した部分を隠す */
  text-overflow: ellipsis; /* はみ出した部分を省略記号で表示 */
}

.gp-text-black {
  color: #000000;
  overflow: hidden;        /* はみ出した部分を隠す */
  text-overflow: ellipsis; /* はみ出した部分を省略記号で表示 */
}

.gp-text-bold {
  font-weight: 600;
  overflow: hidden;        /* はみ出した部分を隠す */
  text-overflow: ellipsis; /* はみ出した部分を省略記号で表示 */
}

.gp-font-size-14px {
  font-size: 14px;
}

.gp-index-heading {
  display: inline-block;
  position: relative;
  padding: 0 3.5em;
  color: #333333;
  font-weight: 700;
}

.gp-index-heading::before,
.gp-index-heading::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 45px;
  height: 3px;
  background-color: #ffc001;
}

.gp-index-heading::before {
  left: 0;
}

.gp-index-heading::after {
  right: 0;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  .btn {
  margin-top: 20px;
  }
}

.gp-button-text {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
}

.gp-button {
  padding: 4px 15px;
  align-items: center;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.gp-background-blue {
  background: #3566e5;
}

.gp-background-orange {
  background: #FF8A00;
}

.gp-back-to-index-container {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}

.gp-back-to-index-button {
  padding: 2px 10px;
  align-items: center;
  background: #8c8c8c;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.gp-back-to-index-button:hover {
  background-color: #606060;
}

.gp-back-to-index-button-text {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
}

body{
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  }

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}