.info-image-upload {
  margin-top: 20px;
  width: 288px;

  .image-preview {
    width: 100%;
    height: 81px;
    border: 2px dashed lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: lightgray;
  
    .image-preview__image {
      display: none;
      width: 100%;
    }
  
    .image-preview__image.-block {
      display: block;
      width: 100%;
    }
  
    .image-preview__default-text.-none {
      display: none;
    }
  }
}